<% include partials/header %>

<div class="container-fluid">
	
	<!-------------------------------Jumbotron--------------------------------->
	<div id="jumbotron_recipes" class="jumbotron">
		<h1 class="display-4">Weekly Recipe Generator.</h1>
		<p class="lead">
			This web-app interfaces with the Spoonacular API to retrieve 
			recipes based on the query entered by the user.
		</p>
		<hr class="my-3">
		<p id=jumbotron_descr>
			<strong>Front-End: </strong>HTML, CSS, Bootstrap.
			<strong>Back-End: </strong>Nodejs, Express, MongoDB.
		</p>
		<p id=jumbotron_descr>
			<strong>Developed with: </strong>AWS EC2 (C9).
			<strong>Hosted in:</strong> Heroku.com
		</p>
		<p id=jumbotron_descr>
			<strong>Source code:</strong>
			<a href="https://github.com/Ivan-Dominguez/recipes">
				github.com/Ivan-Dominguez/recipes
			</a>
		</p>
	</div>
	<!-------------------------------Week Table-------------------------------->
	<form id="query_form" method="POST">
		<div class="container-fluid border border-dark rounded">
			<div class="form-row">
				<div id="day_name" class="col">Sunday</div>
				<div id="day_name"  class="col">Monday</div>
				<div id="day_name"  class="col">Tuesday</div>
				<div id="day_name"  class="col">Wednesday</div>
				<div id="day_name"  class="col">Thursday</div>
				<div id="day_name"  class="col">Friday</div>
				<div id="day_name"  class="col">Saturday</div>
			</div>
			<div class="form-row">
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_sunday" required value=<%=query_list.sunday%> > </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_monday" required value=<%=query_list.monday%> > </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_tuesday" required value=<%=query_list.tuesday%> > </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_wednesday" required value=<%=query_list.wednesday%> > </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_thursday" required value=<%=query_list.thursday%> > </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_friday" required value=<%=query_list.friday%> > </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_saturday" required value=<%=query_list.saturday%> > </div>
			</div>
			<div class="form-row">	
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/sunday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/monday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/tuesday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/wednesday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/thursday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/friday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/recipes/saturday">Get Recipe</button> </div>
			</div>
	<!-----------------------------Radio Buttons------------------------------->
			<div id="diet_radio_btn">
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="diet_radio_option" value="vegetarian" <%= diet === "vegetarian" ? 'checked' : '' %> >
				  <label class="form-check-label" for="inlineRadio1">Vegetarian</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="diet_radio_option" value="vegan"<%= diet === "vegan" ? 'checked' : '' %> >
				  <label class="form-check-label" for="inlineRadio2">Vegan</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="diet_radio_option" value=""<%= diet === "" ? 'checked' : '' %> >
				  <label class="form-check-label" for="inlineRadio3">Regular</label>
				</div>
			</div>
		</div>
	</form>

	<!------------------------------Recipe Info-------------------------------->
	<div id="recipe_title">
		<h3> <%= recipeInfo.title %> </h3>
	</div>
	<div>
		<button type="submit" class="btn btn-success btn-sm" form="query_form" formaction="/recipes/favorites" <%= recipeInfo.image === "" ? ' disabled' : '' %>>Add to Favorites</button>
		<a href="/recipes/favorites" class="btn btn-warning btn-sm">Go to Favorites</a>
	</div>
	<div class="form-row" id="recipe_ingredients">
		<div class="col">
			<h4>Ingredients:</h4>
			<% recipeInfo.extendedIngredients.forEach((ingredient) => {  %>
			<li><%= ingredient.name %> </li>
			<% }) %>
		</div>
		<div class="col">
			<img src="<%= recipeInfo.image %>" class="img-fluid">
		</div>		
	</div>
	<div id="recipe_directions" class="border border-dark rounded">
		<h4>Directions:</h4>
		<div>
				<p> <%= recipeInfo.instructions %>	</p>
		</div>
	</div>
</div>

<% include partials/footer %>