<% include partials/header %>

<div class="container-fluid">
	
	<div class="jumbotron text-center">
		<h1 class="display-4">Weekly Recipe Generator</h1>
		<hr class="my-4">
	</div>
	<form method="POST">
		<div id="days_table" class="container-fluid">
			<div class="form-row">
				<div id="day_name" class="col">Sunday</div>
				<div id="day_name"  class="col">Monday</div>
				<div id="day_name"  class="col">Tuesday</div>
				<div id="day_name"  class="col">Wednesday</div>
				<div id="day_name"  class="col">Thursday</div>
				<div id="day_name"  class="col">Friday</div>
				<div id="day_name"  class="col">Saturday</div>
			</div>
			<div class="form-row">
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_sunday" value=<%=query_list.sunday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_monday" value=<%=query_list.monday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_tuesday" value=<%=query_list.tuesday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_wednesday" value=<%=query_list.wednesday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_thursday" value=<%=query_list.thursday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_friday" value=<%=query_list.friday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_saturday" value=<%=query_list.saturday%> placeholder="Enter Ingredients"> </div>
			</div>
			<div class="form-row">	
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/sunday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/monday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/tuesday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/wednesday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/thursday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/friday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/saturday">Get Recipe</button> </div>
			</div>
		</div>
	</form>
	
	<div>
		<h3 id="recipe_title"> <%= recipeInfo.title %>	</h3>
	</div>
	<div class="form-row">
		<div class="col">
			<h4 id="recipe_ingredients">Ingredients:</h4>
			<% recipeInfo.extendedIngredients.forEach((ingredient) => {  %>
			<li><%= ingredient.name %> </li>
			<% }) %>
		</div>
		<div class="col">
			<img src="<%= recipeInfo.image %>"
		</div>
	</div>		
	<div>
		<h4 id="directions">Directions:</h4>
		<div>
				<p> <%= recipeInfo.instructions %>	</p>
		</div>
	</div>
</div>

<% include partials/footer %>