<% include partials/header %>

<div class="container-fluid">
	
	<!-------------------------------Jumbotron--------------------------------->
	<div id="jumbotron_recipes" class="jumbotron">
		<h1 class="display-4">Weekly Recipe Generator.</h1>
		<p class="lead">
			This web-app interfaces with the Spoonacular API to retrieve 
			recipes based on the query entered by the user
		</p>
		<hr class="my-3">
		<p id=jumbotron_descr>
			<strong>Front-End: </strong>HTML, CSS, Bootstrap.
			<strong>Back-End: </strong>Nodejs, Express, MongoDB
		</p>
		<p id=jumbotron_descr>
			<strong>Developed with: </strong>AWS EC2 (C9).
			<strong>Hosted in:</strong> Heroku.com
		</p>
		<p id=jumbotron_descr>
			<strong>Source code:</strong>
			<a href="https://github.com/Ivan-Dominguez/recipes">
				github.com/Ivan-Dominguez/recipes
			</a>
		</p>
	</div>
	<!-------------------------------Week Table-------------------------------->
	<form method="POST">
		<div id="days_table" class="container-fluid">
			<div class="form-row">
				<div id="day_name" class="col">Sunday</div>
				<div id="day_name"  class="col">Monday</div>
				<div id="day_name"  class="col">Tuesday</div>
				<div id="day_name"  class="col">Wednesday</div>
				<div id="day_name"  class="col">Thursday</div>
				<div id="day_name"  class="col">Friday</div>
				<div id="day_name"  class="col">Saturday</div>
			</div>
			<div class="form-row">
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_sunday" value=<%=query_list.sunday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_monday" value=<%=query_list.monday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query" type="text" class="form-control" name="query_tuesday" value=<%=query_list.tuesday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_wednesday" value=<%=query_list.wednesday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_thursday" value=<%=query_list.thursday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_friday" value=<%=query_list.friday%> placeholder="Enter Ingredients"> </div>
				<div class="col"> <input id="day_query"  type="text" class="form-control" name="query_saturday" value=<%=query_list.saturday%> placeholder="Enter Ingredients"> </div>
			</div>
			<div class="form-row">	
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/sunday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/monday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/tuesday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/wednesday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/thursday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/friday">Get Recipe</button> </div>
				<div class="col"> <button type="submit" class="btn btn-primary btn-sm" value="Get Recipe" formaction="/saturday">Get Recipe</button> </div>
			</div>
	<!-----------------------------Radio Buttons------------------------------->
			<div id="diet_radio_btn">
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="diet_radio_option" value="vegetarian" <%= diet === "vegetarian" ? 'checked' : '' %> >
				  <label class="form-check-label" for="inlineRadio1">Vegetarian</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="diet_radio_option" value="vegan"<%= diet === "vegan" ? 'checked' : '' %> >
				  <label class="form-check-label" for="inlineRadio2">Vegan</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="diet_radio_option" value=""<%= diet === "" ? 'checked' : '' %> >
				  <label class="form-check-label" for="inlineRadio3">Regular</label>
				</div>
			</div>
		</div>
	</form>

	<!------------------------------Recipe Info-------------------------------->
	<div id="recipe_title">
		<h3> <%= recipeInfo.title %> </h3>
		<button type="submit" class="btn btn-success btn-sm" value="Add to Favorites" >Add to Favorites</button>
	</div>
	<div class="form-row" id="recipe_ingredients">
		<div class="col">
			<h4>Ingredients:</h4>
			<% recipeInfo.extendedIngredients.forEach((ingredient) => {  %>
			<li><%= ingredient.name %> </li>
			<% }) %>
		</div>
		<div class="col">
			<img src="<%= recipeInfo.image %>">
		</div>		
	</div>
	<div id="recipe_directions">
		<h4>Directions:</h4>
		<div>
				<p> <%= recipeInfo.instructions %>	</p>
		</div>
	</div>
</div>

<% include partials/footer %>